{
  "presets": ["es2015"],
  "plugins": [
    "transform-object-rest-spread",
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      },
      "lodash/fp": {
        "transform": "lodash/fp/${member}",
        "preventFullImport": true
      }
    }]
  ]
}
