$green: rgb(87, 197, 198);

html,
body {
  margin: 0;
  padding: 0;
  background-color: $green;
}

.hostmaker-guess {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: transparent;
  border: 10px solid #000;
  transform: scale(0);
}

.hostmakr-background {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.hostmakr-background_left {
  min-height: 0;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./assets/background/left.svg');
}

.hostmakr-background_right {
  min-height: 0;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./assets/background/right.svg');
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1001;
  width: 100%;
  height: 100%;
}

.modal_backdrop {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
  width: 400px;
  height: 450px;
  border: 5px solid $green;
  border-radius: 10px;
  position: relative;
  background-color: whitesmoke;
}

.modal_logo-container {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: $green;
}

.modal_logo {
  width: 60px;
  height: 60px;
  background-image: url('./assets/background/growth.svg');
  background-repeat: no-repeat;
}
